/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover,
a:focus {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #101010;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 17px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #101010;
}

button, input {
  background: transparent;
  outline: none;
  border: 0;
}

li {
  list-style: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1230px;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.main-btn {
  font-family: 'ProximaNova-Semibold', sans-serif;
  width: 245px;
  height: 40px;
  background: -webkit-gradient(linear, right top, left top, from(#44A8F0), to(#56C4E9));
  background: linear-gradient(270deg, #44A8F0 0%, #56C4E9 100%);
  -webkit-box-shadow: 0px 0px 2px #569AE9;
          box-shadow: 0px 0px 2px #569AE9;
  border-radius: 5px;
  color: #F9F9F9;
  font-size: 20px;
}

.main-btn:hover {
  background: #33CCFF;
  -webkit-box-shadow: 0px 0px 2px #33CCFF;
          box-shadow: 0px 0px 2px #33CCFF;
}

.main-link {
  display: inline-block;
  position: relative;
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #56C4E9;
}

.main-link::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background: url(../img/arrow_link.png) no-repeat;
  top: 7px;
  right: -18px;
}

.main-link:hover {
  color: #33CCFF;
}

.main-link:hover::after {
  background: url(../img/arrow_link_hover.png) no-repeat;
}

.icon-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  background: #56C4E9;
  border-radius: 4px;
}

.header {
  height: 775px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4FAFF), to(#E5EEF4));
  background: linear-gradient(180deg, #F4FAFF 0%, #E5EEF4 100%);
}

.header .container {
  background: url(../img/header__bg.png) no-repeat 444px 157px;
}

.header__left {
  width: 400px;
  margin-top: 199px;
}

.header__left h1 {
  position: relative;
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #56C4E9;
  font-size: 45px;
  line-height: 50px;
  margin-left: 21px;
}

.header__left h1::before {
  position: absolute;
  content: '';
  width: 129px;
  height: 129px;
  background: url(../img/star.png) bottom;
  bottom: 11px;
  left: -72px;
}

.header__left h2 {
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 21px;
  line-height: 29px;
  margin-top: 15px;
}

.header__link-work {
  margin-top: 7px;
  margin-left: -1px;
}

.header__list {
  margin-top: 14px;
}

.header__item {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
}

.header__item-disc {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #56C4E9;
  margin-top: 1px;
}

.header__item h3 {
  font-size: 20px;
  line-height: 24px;
  margin-left: 13px;
}

.header .main-btn {
  display: block;
  margin-top: 31px;
  margin-bottom: 15px;
}

.header__left_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 102px;
  margin-top: 89px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left_icon .icon-soc:nth-child(1):hover {
  background-color: #4A76A8;
}

.header__left_icon .icon-soc:nth-child(2):hover {
  background-color: #2CA5E0;
}

.header__left_icon .icon-soc:nth-child(3):hover {
  background-color: #33CCFF;
}

.about {
  padding-top: 124px;
  padding-bottom: 223px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4FAFF), to(#E5EEF4));
  background: linear-gradient(180deg, #F4FAFF 0%, #E5EEF4 100%);
}

.about h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #56C4E9;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  padding-right: 5px;
}

.about__wrap {
  background: #fff;
  margin-top: 80px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__content_text {
  width: 48.7%;
  padding-top: 17px;
  padding-bottom: 38px;
  background: #ffffff;
}

.about__content .text2 {
  padding-left: 30px;
}

.about__content_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}

.about__content_heading img {
  margin-right: 18px;
}

.about__content_heading h3 {
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 30px;
  line-height: 37px;
}

.about__content p {
  margin-top: 18px;
  margin-left: -1px;
  line-height: 25px;
  padding-right: 15px;
}

.about__content .text2 p {
  padding-right: 0;
}

.about__content .about__content_text-p {
  margin-top: 10px;
}

.about__content_img1 {
  margin-top: -34px;
  width: 51.3%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about__content_img1 img {
  width: 100%;
}

.about__content_img2 {
  margin-bottom: -67px;
  width: 48.7%;
}

.about__content_img2 img {
  width: 100%;
}

.portfolio {
  padding-top: 124px;
}

.portfolio h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #56C4E9;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  padding-right: 5px;
  margin-bottom: 29px;
}

.portfolio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 17px -15px;
}

.portfolio__wrap .item1 {
  background: url(../img/portfolio/portfolio_prev_desktop_1.jpg) no-repeat center;
}

.portfolio__wrap .item2 {
  background: url(../img/portfolio/portfolio_prev_desktop_2.jpg) no-repeat center;
}

.portfolio__wrap .item3 {
  background: url(../img/portfolio/portfolio_prev_desktop_3.jpg) no-repeat center;
}

.portfolio__wrap .item4 {
  background: url(../img/portfolio/portfolio_prev_desktop_4.jpg) no-repeat center;
}

.portfolio__wrap .item5 {
  background: url(../img/portfolio/portfolio_prev_desktop_5.jpg) no-repeat center;
}

.portfolio__wrap .item6 {
  background: url(../img/portfolio/portfolio_prev_desktop_6.jpg) no-repeat center;
}

.portfolio__wrap .item7 {
  background: url(../img/portfolio/portfolio_prev_desktop_7.jpg) no-repeat center;
}

.portfolio__wrap .item8 {
  background: url(../img/portfolio/portfolio_prev_desktop_8.jpg) no-repeat center;
}

.portfolio__wrap .item9 {
  background: url(../img/portfolio/portfolio_prev_desktop_9.jpg) no-repeat center;
}

.portfolio__wrap .item10 {
  background: url(../img/portfolio/portfolio_prev_desktop_10.jpg) no-repeat center;
}

.portfolio__wrap .item11 {
  background: url(../img/portfolio/portfolio_prev_desktop_11.jpg) no-repeat center;
}

.portfolio__wrap:nth-child(4), .portfolio__wrap:nth-child(5) {
  display: none;
}

.portfolio__item {
  width: 100%;
  max-width: 370px;
  height: 345px;
  border: 1px solid rgba(46, 184, 231, 0.5);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.portfolio__item_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.portfolio__item_a-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 96px;
  margin-bottom: -1px;
  background: #2EB8E7;
  border-radius: 0px 0px 9px 9px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 184, 231, 0.5)), to(#2EB8E7));
  background: linear-gradient(180deg, rgba(46, 184, 231, 0.5) 0%, #2EB8E7 100%);
  color: #ffffff;
  text-align: center;
  line-height: 25px;
}

.portfolio__item:hover .portfolio__item_a-desc {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 204, 255, 0.5)), to(#33CCFF));
  background: linear-gradient(180deg, rgba(51, 204, 255, 0.5) 0%, #33CCFF 100%);
}

.portfolio .main-btn {
  margin: 43px auto -40px;
  border-radius: 0px 0px 5px 5px;
}

.price {
  padding-top: 164px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4FAFF), to(#E5EEF4));
  background: linear-gradient(180deg, #F4FAFF 0%, #E5EEF4 100%);
}

.price h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #56C4E9;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  padding-right: 5px;
  margin-bottom: 46px;
}

.price__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.price__item {
  width: 100%;
  height: 478px;
  max-width: 370px;
  margin-left: 15px;
  margin-right: 15px;
}

.price__item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 125px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EB8E7), to(rgba(46, 184, 231, 0.5)));
  background: linear-gradient(180deg, #2EB8E7 0%, rgba(46, 184, 231, 0.5) 100%);
  border-radius: 10px 10px 0 0;
}

.price__item-heading h3 {
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 25px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}

.price__item-desc {
  height: calc(100% - 125px);
  border: 2px solid rgba(46, 184, 231, 0.5);
  border-radius: 0 0 10px 10px;
  border-top: 0;
  text-align: center;
}

.price__item-desc h4 {
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 20px;
  line-height: 25px;
  padding-top: 32px;
}

.price__item-desc p {
  line-height: 25px;
  padding: 15px 15px 0;
}

.price__item-desc p span {
  display: inline-block;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */