.navbar
  position: fixed
  width: 100%
  height: 111px
  z-index: 100
  transition: .3s
  &__wrap
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
  .nav-menu-wrap
    display: none
  &__left_icon
    display: none
    width: 102px
    justify-content: space-between
  &-brand
    h2
      display: none
      color: #ffffff
      font-size: 20px
  &__nav
    display: flex
    width: 605px
    justify-content: space-between
    font-size: 20px
    line-height: 24px
    margin-bottom: 1px
    .navbar-brand-mob, .main-btn, .main-link
      display: none
    .nav_item a
      position: relative
      &::after
        position: absolute
        content: ''
        width: 0
        height: 2px
        left: 0
        bottom: -2px
        background-color: #56C4E9
        transition: width 0.5s
    .active a, .nav_item a:hover
      font-weight: 600
      color: #56C4E9
      transition: width 0.5s
      &::after
        width: 99%
  &__right_icon
    display: flex
    width: 102px
    justify-content: space-between
    .icon-soc
      &:nth-child(1):hover
        background: #25D366
      &:nth-child(2):hover
        background: #665CAC
      &:nth-child(3):hover
        background: #28A8EA
  &.scroll
    height: 36px
    background: linear-gradient(180deg, rgba(86, 196, 233, 0.95) 0%, rgba(46, 184, 231, 0.95) 100%)
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
    transition: .3s
    .navbar-brand img
      display: none
    .navbar-brand h2
      display: inline
    .nav_item a
      color: #ffffff
      &:after
        background-color: #ffffff
        bottom: -6px
    .icon-soc
      background: transparent
      &:hover
        background: transparent
        border: 1px solid #FFFFFF
// @media screen and (max-width: 992px)
//   .navbar
//     height: 68px
//     &-brand
//       img
//         width: 49px
//         height: 47px
//     &__nav
//       width: 442px
//       font-size: 16px
//       line-height: 19px
@media screen and (max-width: 992px)
  .navbar
    .container
      padding-left: 15px
      padding-right: 15px
    background: linear-gradient(180deg, rgba(86, 196, 233, 0.95) 0%, rgba(46, 184, 231, 0.95) 100%)
    &.scroll
      .nav_item a
        color: #56C4E9
      .active a
        color: #ffffff
        &:after
          width: 0
      .navbar-brand
        display: none
    .nav-menu-wrap
      display: flex
      height: 18px
      color: #ffffff
      cursor: pointer
      font-size: 16px
      line-height: 19px
      .nav-menu
        display: flex
        position: relative
        flex-direction: column
        justify-content: space-between
        align-items: center
        margin-right: 11px
        padding-left: 0
        padding-right: 0
        &__line
          width: 29px
          height: 2px
          background: #ffffff
        .open-menu
          position: absolute
          bottom: -6px
          display: flex
          width: 16px
          justify-content: space-between
          align-items: center
          opacity: 0
          transform: rotate(90deg)
          transition: .3s
          &__line
            height: 29px
            width: 2px
            background: #ffffff
    &__left_icon
      display: flex
      margin-left: 16px
    &__nav
      background: #ffffff
      padding-top: 20px
      width: 100%
      font-size: 20px
      line-height: 24px
      position: absolute
      top: 36px
      left: 0
      height: 100vh
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      opacity: 0
      transform: translate(-100%, 0)
      transition: .3s
      &.open
        opacity: 1
        transform: translate(0, 0)
        transition: .3s
      .navbar-brand-mob
        display: block
        margin-bottom: 22px
      li.nav_item
        display: flex
        justify-content: center
        align-items: center
        height: 40px
        width: 100%
        &:hover, 
          background: #56C4E9
        a
          display: inline-block
          width: 100%
          color: #56C4E9
          padding: 8px 0 
          text-align: center
        .active a, a:hover
          font-weight: 400
          color: #ffffff
          transition: width 0.5s
          &::after
            width: 0%
      .active 
        background: #56C4E9

      .main-btn
        display: block
        margin-top: 20px
        margin-bottom: 12px
      .main-link
        display: inline
        margin-left: -10px
@media screen and (max-width: 500px)
  .navbar
    &__left_icon, &__right_icon
      width: 64px
      position: absolute
      .icon-soc:last-child
        display: none
    &__right_icon
      right: 15px
    &__left_icon
      right: 93px



  